* {
  font-family: "Nunito", sans-serif;
  font-size: calc(60% + 0.8vmin);
}
/* ======================================= */
.blog {
  padding: 20px;
  margin: 5rem 0 0 0;
}
.blog .blog1 {
  background: url("../image/Copy of Red White Attractive 10 Ways To Earn Money Youtube Thumbnail (8).png");
  display: grid;
  grid-template-columns: 60% 40%;
  height: 45rem;
  padding: 20px;
}
.blog .blog1 ul {
  /* background-color: brown; */
  word-wrap: break-word;
  padding: 10px;
  width: 90%;
  margin: 3rem 0 0 3rem;
}
.blog .blog1 ul h1 {
  font-size: 70px;
  padding: 40px;
  color: aliceblue;
}
.blog .blog1 ul p {
  font-size: 18px;
  padding: 40px;
  margin: -8rem 0 0 0;
  display: grid;
  color: aliceblue;
}
.blog .blog1 ul .kk {
  font-size: 16px;
  width: 12rem;
  height: 3rem;
  margin: 3rem 0 0 0;
  background-color: chartreuse;
  color: rgb(5, 4, 63);
}
.blog .blog1 ul .kk:hover {
  background-color: aliceblue;
  color: #000;
}
.mySlides {
  width: 100%;
}

/* =========================================== */
@media screen and (max-width: 1440px) {
  .blog .blog1 ul {
    margin: 0 0 0 -6rem;
    padding: 30px;
  }
  .mySlides {
    margin: -3rem 0 0 0;
  }
}
@media screen and (max-width: 1300px) {
  .blog .blog1 ul {
    /* background-color: brown; */
    word-wrap: break-word;
    padding: 20px;
    width: 90%;
    margin: 4rem 0 0 1rem;
  }
  .blog .blog1 ul h1 {
    font-size: 50px;
    padding: 40px;
    color: aliceblue;
    margin: -2rem 0 0 0;
  }
  .blog .blog1 ul .kk {
    margin: 4rem 0 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .blog .blog1 ul {
    /* background-color: brown; */
    word-wrap: break-word;
    padding: 20px;
    width: 90%;
    margin: 8rem 0 0 3rem;
  }
  .blog .blog1 ul h1 {
    font-size: 50px;
    padding: 40px;
    color: aliceblue;
    margin: -4rem 0 0 0;
  }
}
@media screen and (max-width: 900px) {
  .blog .blog1 ul {
    /* background-color: brown; */
    word-wrap: break-word;
    padding: 20px;
    width: 90%;
    margin: 7rem 0 0 3rem;
  }
  .blog .blog1 ul h1 {
    font-size: 46px;
    padding: 40px;
    color: aliceblue;
    margin: -9rem 0 0 0;
  }
}
@media screen and (max-width: 844px) {
  .blog .blog1 ul {
    /* background-color: brown; */
    word-wrap: break-word;
    padding: 20px;
    width: 95%;
    margin: 7rem 0 0 3rem;
  }
  .blog .blog1 ul h1 {
    font-size: 35px;
    padding: 40px;
    color: aliceblue;
    margin: -7rem 0 0 0;
  }
  .blog .blog1 ul p {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .blog .blog1 ul {
    /* background-color: brown; */
    word-wrap: break-word;
    padding: 20px;
    width: 95%;
    margin: 7rem 0 0 3rem;
  }
  .blog .blog1 ul h1 {
    font-size: 35px;
    padding: 40px;
    color: aliceblue;
    margin: -9rem 0 0 0;
  }
  .blog .blog1 ul p {
    font-size: 15px;
  }
}
@media screen and (max-width: 390px) {
  .blog .blog1 ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0 0 0;
    width: 100%;
  }
  .blog .blog1 ul h1 {
    font-size: 30px;
    padding: 20px;
    color: aliceblue;
  }
  .blog .blog1 ul p {
    font-size: 12px;
    padding: 20px;
    margin: -23rem 0 0 0;
    display: grid;
    color: aliceblue;
  }
  .mySlides {
    margin: 23rem 0 0 -15rem;
    width: 150%;
  }
  .blog .blog1 ul .kk {
    margin: -9rem 0 0 0;
  }
}
/* ============================================== */
.blog .blog2 {
  background-color: rgb(230, 227, 226);
  display: grid;
  grid-template-columns: 60% 47%;
  padding: 40px;
  word-wrap: break-word;
}
.blog .blog2 .ul2 {
  margin: 2rem 0 0 0;
}
.blog .blog2 .ul2 ul {
  background-color: aqua;
  display: grid;
  grid-template-columns: 10rem 23vw;
  padding: 10px;
  gap: 3rem;
  word-wrap: break-word;
  margin: 2rem 0 0 0;
}
.blog .blog2 .ul2 ul p1 img {
  width: 10rem;
}
.blog .blog2 .ul2 ul p1 h2 {
  font-size: 20px;
}
.blog .blog2 .ul2 ul p1 p {
  font-size: 12px;
}
/* =========================================== */
.blog .blog2 ul {
  width: 95%;
}
.blog .blog2 ul h1 {
  font-size: 36px;
  text-align: center;
}
.blog .blog2 ul h2 {
  font-size: 30px;
}
.blog .blog2 ul p {
  font-size: 16px;
}
/* ================================================ */
@media screen and (max-width: 900px) {
  .blog .blog2 .ul2 ul p1 p {
    font-size: 10px;
  }
  .blog .blog2 ul h1 {
    font-size: 30px;
  }
  .blog .blog2 ul h2 {
    font-size: 25px;
  }
  .blog .blog2 ul p {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .blog .blog2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog .blog2 .ul2 {
    width: 100%;
  }
  .blog .blog2 .ul2 ul {
    grid-template-columns: 10rem 50vw;
  }
}
/* ================================================= */
.blog .blog3 {
  background-color: chartreuse;
  height: 20vw;
}
.blog .blog3 ul {
  text-align: center;
}
