.title {
  font-size: 3.5rem;
  color: var(--black);
  font-weight: 700;
}

.sub-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--black);
}

.contentTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
}



/* ------- Part1 section ------- */

.part1 {
  display: flex;
  background: url("../image/Copy of Red White Attractive 10 Ways To Earn Money Youtube Thumbnail (8).png");
  justify-content: center;
  height: 80vh;
}

.part1 .subsection1 {
  margin-top: 7%;
  text-align: center;
}

.part1 .subsection1 h1 {
  padding: 0 5px;
  color: #fff;
  text-shadow: var(--box-shadow);
}

.part1 .subsection1 img {
  width: 70%;
  /* height: 60vh; */
  margin: 3px 0 0 0;
}
/* =========================================== */

.part2 .subsection2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.part2 .subsection2 img {
  flex: 1 1 30rem;
  width: 50%;
}

.part2 .subsection2 .content {
  flex: 1 1 40rem;
  padding: 0 10px;
}

.part2 .subsection2 .content p {
  padding: 0 20px;
}

.part2 .subsection2 .contentBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
  padding-right: 5%;
}

.part2 .contentBtn a {
  font-size: 2rem;
  color: var(--black);
  cursor:  pointer;
}
.part2 .contentBtn a:hover {
  color: var(--green);
  letter-spacing: .1rem;
}

/* ===================================== */
.part3 .subsection3 .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  gap: 3rem;
  margin-top: 2rem;
}

.part3 .content .item-content {
  box-shadow: .5rem 1rem 1rem rgba(39, 183, 96, 0.3);
  border-radius: 2rem;
  padding: 10%;
  border: 1px solid rgba(39,183,96,.5);
}

.part3 .content .item-content h3 {
  text-align: center;
}

.part3 .content .item-content p {
  padding-top: 10px;
}

.part3 .subsection2 .subsection3 {
  text-align: center;
}

/* ================================= */
.part4 {
  padding: 0;
}

/* .part4 .content {
  box-sizing: border-box;
} */

.part4 .content .tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.part4 .tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: var(--green);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  transition: background-color ease 0.2s;
}

.part4 .tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  margin: 0 1rem 1rem 1rem;
}

.part4 #magic-line {
  display: none;
}

.part4 .tabs .tab img {
  width: 80%;
}

.part4 .tabs .tab img:hover {
  box-shadow: 0 .5rem .5rem rgba(39, 174, 96, 1);
  width: 80%;
  cursor: pointer;
}

.part4 .tabs input[type="radio"] {
  display: none;
}

.part4 .tabs input[type="radio"]:checked + label {
  color: var(--green);
  background: #fff;
}

.part4 .tabs input[type="radio"]:checked + label + .tab {
  display: block;
  height: auto;
  text-align: center;
}

/* ==================================== */
.part5 {
  text-align: center;
}
/* ======================================= */

@media screen and (max-width: 1024px) {
  .part1 {
    height: 60%;
  }

  .part1 .subsection1 img {
    width: 100%;
  }
}


@media (max-width: 912px) {
  
  .part2 .subsection2 {
    display: flex;
    flex-direction: column;
  }

  .part4 .tabs label {
    width: 100%;
    margin-top: 0.2rem;
  }

  .part4 .tabs .tab img {
    width: 100%;
  }

  .part4 .tabs .tab img:hover {
    width: 100%;
    box-shadow: 0 .5rem .5rem rgba(39, 174, 96, 1);
  }

}