.sub-heading{
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex: 1 1 45rem;
}

.home .home-slider .slide .image{
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img{
   width: 100%;
}

.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;
    font-weight: 600;
}

.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    padding:.5rem 0;

}

.swiper-pagination-bullet-active{
    background:var(--green);
}

.dished{
    margin: 3rem 0;
}

.dished .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:1.5rem;
}

.dished .sub-heading{
    font-size: 1.4rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
    color: var(--light-color);
    font-weight: 400;
    text-align: center;
}

.dished p{
    text-align: center;
    padding: .5rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dished .box-container .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);

    overflow: hidden;
    text-align: center;
}

.dished .box-container .box img{
    margin: 1rem 0;
}

.dished .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}

.dished .box-container .box span{
    color: var(--green);
    font-weight: bolder;
    margin: 1rem;
    font-size: 2.5rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    flex-direction: row;
}

.about .row .dividerR, .dividerL{
    flex: 1 1 45rem;
}

.dividerR .chooseUs {
    margin-bottom: 20px;
    margin-left: 15px;
}

.dividerL .chooseUs {
    margin-bottom: 10px;
}

.about .row .chooseUs {
    display: flex;
    align-items: center;
}

.about .row img {
    width: 80px;
    border-radius: 50px;
    padding: 10px;
    border: 2px solid var(--black);
}

.about .divider {
    border: 1px solid var(--green);
    height: 30rem;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;

}



.menu .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}

.menu .box-container .box .content  h3{
    color: var(--black);
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    padding: .5rem 0;
}

.menu .box-container .box .content .price{
    color: var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.container{
    width: 100%;
}

.blog-section{
    width: 85%;
    margin: 20px auto;
}

.blog-section .title{
    /* width: 60%; */
    text-align: center;
    margin: auto;

}

.blog-section .title h3{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.blog-section .title p{
    padding: .5rem 0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3.2rem; 
    margin-top: 2rem;
    
}

.cards .card{
    width: 100%;
    position: relative;
    box-shadow: var(--box-shadow);
}

.image-section img{
    width: 100%;
    height: auto;
}

.content{
    padding: 15px 20px;
}

.content h4{
    color: var(--black);
    font-size: 2rem;
}

.card .posted-date{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: var(--green);
    padding:6px 15px;
}

.card .posted-date p{
    font-size: 1.6rem;
}

.client .slider-area h3{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: upperca

}
.client{ 
    background: white !important;
    justify-content: center;
    display: grid;
}
.client .slider-area{
    display: grid;
    width: 100%;
}
.client .slider-area .wrapper{
    justify-content: center;
    display: flex;
    overflow: hidden;
    border-radius: 180px;
    padding: 2.5rem;
    background: #eee;
    border: 0.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow) ;
}

.client .slider-area .wrapper .item{
    animation: animate 10s alternate linear infinite;
    
}

.client .wrapper .item img{
    height: 8rem;
    width: 8rem;
    margin: 0 2rem;
}

.client .wrapper:hover .item{
   animation-play-state: paused;
}


@keyframes animate{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-1100px, 0, 0);
    }
}

@media screen and (max-width: 768px) {
    .client .slider-area h3{
        font-size: 5rem;
    }

    .home .home-slider .slide .content h3{
        color: var(--black);
        font-size: 5rem;
    }

    
}

@media (max-width: 912px) {
    .about .divider {
        display: none;
    }

    .about .dividerR .chooseUs {
        margin-left: 0;
    }
    
}

@media (max-width: 1024px) {
    .dished .box-container .box img{
        height: auto;
        width: 60%;
    }

    .cards{
        grid-template-columns: (2, 1fr);
    }

    .contactUs{
        padding: 20px;
    }

}