
hr {
    margin-top: -20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 5px solid #27ae60;
    width: 50%;
}

.title {
    font-size: 3.5rem;
    color: var(--black);
    text-transform: uppercase;
}

.sub-title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
}

/* ============ hero section =============== */
#hero .card {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 40% 60%);
}

#hero .card .content-img {
    display: flex;
    justify-content: center;
}

#hero .card .content-img img{
    width: 100%; 
    margin-top: 5%;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    margin-bottom: -15%;
}

#hero .card .content {
    margin-top: 10%;
}

#hero .card .content h1 {
    text-align: center;
    padding-bottom: 10px;
}

#hero .card .content .paragraph {
    display: flex;
    flex-direction: column;
    padding: 0 7% 0 10%;
}

#hero .paragraph .itemL {
    width: 40%;
    float: left;
    text-align: start;
}

#hero .paragraph .itemR {
    width: 60%;
    float: left;
    text-align: start;
}

#hero #myBtn {
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor:  pointer;
    display: inline-block;
    font-size: 1.7rem;
    padding: .8rem 3rem;
}

#hero #myBtn:hover {
    background: var(--green);
    letter-spacing: .1rem;
}

#more {
    display: none;
}

@media screen and (max-width: 768px) {

    #hero .card {
        margin-top: 3.5vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* =========== internal atmosphere section ========== */

/* #atmosphere .content {
    padding-top: 10px;
    padding-bottom: 50px;
} */

/* .border-brack {
  display: flex;
  justify-content: center;
} */

/* ====== vision section ======= */
#vision h2 {
    text-align: center;
}

#vision .body-text p{
    text-align: center;
    padding-top: 10px;
}

/* =========== mission section ============= */

#mission h2 {
    text-align: center;
}

#mission .body-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem,1fr));
    margin: 0 10px;
    gap: 1.5rem;
}

#mission .containeer-center .body-text {
    margin-top: 10%;
}

#mission .body-text .card {
    width: 100%;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
}

#mission .body-text .card p {
    padding: 10%;
}

/* ======= safety section ======= */
#safety {
    background-color: white;
}

#safety h2 {
    text-align: center;
}

#safety .row {
    display: flex;
 	flex-wrap: wrap;
}

#safety .content-item {
    flex:0 0 100%;
	max-width: 100%;
}

#safety .content-item .item {
    flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

#safety .item .item-inner .content {
    height: 250px;
}

#safety .content-item .item-inner {
    border: 1px solid #dddddd;
    padding: 30px;
    box-shadow: var(--box-shadow);
}

#safety .content-item .item-inner h4 {
    position: relative;
}

#safety .content-item .item-inner h4::before {
    content:"";
    height: 5px;
    width: 100px;
    position: absolute;
    left: 0;
    bottom: -10px;
}

#safety .content-item .item-inner p {
    margin: 30px 30px;
}

#safety .content-item .item-inner .button {
    display: flex;
    justify-content: end;
}


#safety .content-item .item-inner .btn {
    margin-left: 50%;
}

#safety .content-item .read-more-cont {
    display: none;
}

#safety .content-item .read-more-cont b {
    font-weight: 700;
}

.popup-box {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 500;
    visibility: hidden;
    opacity:0;
	transition: all 0.5s ease-in-out;
}

.popup-box.open{
    visibility: visible;
      opacity:1;	
}

.popup-box .popup-content {
    background-color: #ffffff;
    width: calc(100% - 100px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.popup-box .popup-header {
    padding: 15px 40px 15px 15px;
    border-bottom: 2px solid #dddddd;
}

.popup-box .popup-header h4{
    margin:0;
}

.popup-box .popup-header .popup-close-icon{
	position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #555555;
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.popup-box .popup-body {
    padding: 10px 30px;
    max-height: 300px;
    overflow-y: auto;
}

.popup-box .popup-body p{
    margin: 0 0 15px;
}

.popup-box .popup-footer {
    padding: 15px;
    border-top: 1px solid #dddddd;
    text-align: end;
}

.popup-box .popup-footer .btn {
    text-align: center;
}

.popup-box .popup-footer .btn:focus {
    outline: none;
}

@media (max-width: 768px) {
    #hero .card .content-img img {
        margin-bottom: 0;
    }

    #hero .card .content {
        margin-top: 5%;
    }

    #safety .content-item .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 412px) {
    #hero .paragraphRow .itemR {
        width: 75%;
    }

    #hero .paragraphRow .itemL {
        width: 25%;
    }
}

