@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;500;700&display=swap');

:root{
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1) ;
}

hr {
    margin-top: -20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 5px solid #27ae60;
    width: 50%;
}

h2 {
    font-size: 5.5rem;
    color: var(--black);
    font-weight: 700;
}

h4 {
    font-size: 2.5rem;
    color: var(--green);
    font-weight: 500;
}

p, span, b, ul, li {
    font-size: 1.6rem;
    color: var(--light-color);
    line-height: 1.5;
}

li {
    padding-left: 10px;
}

/* =========== header section ============= */


/* ============ hero section =============== */
#hero .card {
    margin-top: 13vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#hero .card .content-img img{
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 10%;
    border-radius: 5rem;
}

#hero .card .content {
    padding: 5%;
}

#hero .card .content h2 {
    text-align: center;
}

#hero .card .content .paragraph p {
    padding: 30px 0;
}

#hero .card .content .buttom {
    display: flex;
    justify-content: end;
}

#hero .card .content button {
    width: 100px;
    height: 50px;
    color: var(--black);
    text-transform: uppercase;
    border-radius: 1rem;
}

#hero .card .content button:hover {
    background-color: var(--green);
    color: white;
    text-shadow: 1rem;
    letter-spacing: 0.1rem;
}

#hero .content .paragraph .rmore {
    display: flex;
    justify-content: end;
}

#hero #myBtn {
    color: var(--black);
    background-color: white;
}

#hero #myBtn:hover {
    background-color:var(--black);
    color: white;
}

#more {
    display: none;
}

@media screen and (max-width: 992px) {
    html{
        font-size: 50%;
    }

    #hero .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* =========== internal atmosphere section ========== */
#atmosphere {
    background-color: white;
}

#atmosphere .content {
    padding-top: 10px;
    padding-bottom: 50px;
}

.border-brack {
  display: flex;
  justify-content: center;
}

/* ====== vision section ======= */

#vision {
    background-color: white;
}

#vision h2 {
    text-align: center;
}

#vision .body-text p{
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 992px) {

}


/* =========== mission section ============= */
#mission {
    background-color: white;
}

#mission h2 {
    text-align: center;
}

#mission .body-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem,1fr));
    margin: 0 10px;
    gap: 1.5rem;
}

#mission .body-text .card {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
}

#mission .body-text .card p {
    padding: 10%;
}

/* #mission .body-text .container-center {

} */

/* ======= safety section ======= */
#safety {
    background-color: white;
}

#safety h2 {
    text-align: center;
}

#safety .row {
    display: flex;
 	flex-wrap: wrap;
}

#safety .content-item {
    flex:0 0 100%;
	max-width: 100%;
}

#safety .content-item .item {
    flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

#safety .item .item-inner .content {
    height: 200px;
}

#safety .content-item .item-inner {
    border: 1px solid #dddddd;
    padding: 30px;
    box-shadow: var(--box-shadow);
}

#safety .content-item .item-inner h4 {
    position: relative;
}

#safety .content-item .item-inner h4::before {
    content:"";
    height: 5px;
    width: 100px;
    position: absolute;
    left: 0;
    bottom: -10px;
}

#safety .content-item .item-inner p {
    margin: 30px 30px;
}

#safety .content-item .item-inner .button {
    display: flex;
    justify-content: end;

}


#safety .content-item .item-inner .btn {
    font-size: 2rem;
    background-color: transparent;
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    margin-left: 60%;
}

#safety .content-item .read-more-cont {
    display: none;
}

#safety .content-item .read-more-cont b {
    font-weight: 700;
}

.popup-box {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 500;
    visibility: hidden;
    opacity:0;
	transition: all 0.5s ease-in-out;
}

.popup-box.open{
    visibility: visible;
      opacity:1;	
}

.popup-box .popup-content {
    background-color: #ffffff;
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.popup-box .popup-header {
    padding: 15px 40px 15px 15px;
    border-bottom: 2px solid #dddddd;
}

.popup-box .popup-header h4{
    margin:0;
}

.popup-box .popup-header .popup-close-icon{
	position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #555555;
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.popup-box .popup-body {
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;
}

.popup-box .popup-body p{
    margin: 0 0 15px;
}

.popup-box .popup-footer {
    padding: 15px;
    border-top: 1px solid #dddddd;
    text-align: end;
}

.popup-box .popup-footer .btn {
    padding: 8px 15px;
    border: 1px solid #555555;
    color: #555555;
    font-size: 1.2rem;
    background-color: transparent;
	cursor: pointer;
	border-radius: 5px;
}

.popup-box .popup-footer .btn:focus {
    outline: none;
}

/* ======= footer section ====== */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover{
    color: var(--green);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: var(--black);
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.footer .credit span{
    color: var(--green);
}
